.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #c86b6b;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  span {
    margin: 5px 0;
  }
}
